

<%- include("header.ejs") %>
  <div class="heroes">
    <div class="overlay">
        <h1>Dj with the magic fingers...</h1>
    </div>
  </div>
  <div class="container">

    <section>
     <h1>TOP OF THE GAME!</h1>
     <p>
       Welcome to DJ Romeo the Magic Fingers' official website! I've been in the game for over ten years, bringing enjoyment and excitement to social gatherings and parties.
     </p>
    </section>
    <div class="first">

      <div class="text">
        <h1>About Me</h1>
        <p>
         DJ Romeo, as he is more commonly known, is a hospitality management graduate of the Federal College of WildLife Management in New Bussa.
        </p>
        <p>
        When working in clubs, he is known for having Magic Fingers on the steering. For the past ten years, he has been entertaining attendees at events with his Magic Fingers.
        </p>
        <p>
         He has worked in numerous clubs and lounges, and right now he is the Oxygenation Club and Lounge's official DJ. With a few popular songs, like EMALOWA ft. UCHAYLEE & NOTORIOUS BID, he has recently gained greater popularity.
      </div>
      <div class="text">
        <img src="img/romeo_1.jpg" alt="mike"  >
      </div>

          </div>


      <div class="social">
        <h1>Social Connect...</h1>
        <h4> follow me on my social media accounts:</h4>
      <div class="media">
        <div class="icon"><a href="#"><img src="img/instagram.webp" alt="insta" /></a></div>
        <div class="icon"><a href="#"><img src="img/facebook.webp" alt="facebook" /></a></div>
        <div class="icon"><a href="#"><img src="img/youtube.webp" alt="yout" /></a></div>

      </div>
       </div>

</div>
<%- include("footer.ejs") %>
<script src="main.js" charset="utf-8"></script>
</body>
</html>
