
<%- include("header.ejs") %>
  <div class="heroes">
    <div class="overlay">
        <h1>Dj with the magic fingers...</h1>
    </div>
  </div>
  <div class="container">

    <section class="cont">
     <h1>Contact us!</h1>
     <div class="contact">
       <div class="tele">
         <img src="/img/telephone.jpg"  />
         <div><p>+2348100280033 </p></div>
       </div>
       <div class="tele">
         <img src="/img/email.jpg" />
         <div><p>magicfingerdjromeo@gmail.com</p></div>
       </div>
       <div class="tele">
         <img src="/img/address.jpg"  />
          <div><p>Address: Florish Estate, Pipeline, Ilorin.</p></div>
       </div>
       <div class="tele">
         <img src="/img/whatsapp.jpg" />
          <div><p>+2348100280033</p></div>
       </div>
     </div>
    </section>


      
      <div class="social">
        <h1>Social Connect...</h1>
        <h4> follow me on my social media accounts:</h4>
      <div class="media">
        <div class="icon"><a href="#"><img src="img/instagram.webp" alt="insta" /></a></div>
        <div class="icon"><a href="#"><img src="img/facebook.webp" alt="facebook" /></a></div>
        <div class="icon"><a href="#"><img src="img/youtube.webp" alt="yout" /></a></div>

      </div>
       </div>

</div>

<%- include("footer.ejs") %>

</body>
</html>
