
<%- include("header.ejs") %>
  <div class="heroes">
    <div class="overlay">
        <h1>Dj with the magic fingers...</h1>
    </div>
  </div>
  <div class="container">

    <div class="twenty">
      <h1>Event Pictures.</h1>
    </div>

    <div class="event">

      <div class="recent"><img src="img/romeo_1.jpg"  alt="rome" />
      </div>
      <div class="recent"><img src="img/romeo_2.jpg" alt="rome" />

      </div>
      <div class="recent"><img src="img/romeo_3.jpg" alt="rome"/>

      </div>
      <div class="recent"><img src="img/romeo_4.jpg" alt="rome" />

      </div>
      <div class="recent"><img src="img/romeo_5.jpg" alt="rome"/>

      </div>
      <div class="recent"><img src="img/romeo_10.jpg" alt="rome" />
      </div>

      <div class="recent"><img src="img/romeo_8.jpg" alt="rome"/>

      </div>
      <div class="recent"><img src="img/romeo_6.jpg" alt="rome" />
      </div>
      <div class="recent"><img src="img/romeo_6.jpg" alt="rome" />
      </div>
    </div>


      <div class="social">
        <h1>Social Connect...</h1>
        <h4> follow me on my social media accounts:</h4>
      <div class="media">
        <div class="icon"><a href="#"><img src="img/instagram.webp" alt="insta" /></a></div>
        <div class="icon"><a href="#"><img src="img/facebook.webp" alt="facebook" /></a></div>
        <div class="icon"><a href="#"><img src="img/youtube.webp" alt="yout" /></a></div>

      </div>
       </div>
</div>
<%- include("footer.ejs") %>
<script src="main.js" charset="utf-8"></script>
</body>
</html>
