<footer>
    <div class="foot">
      <div class="logo">
        <img src="img/logo.jpg" width="100px" height="100px"/>
      </div>
      <div class="romeo">
        <h1>DJ ROMEO'S VISION</h1>
        <p>
         One of the greatest DJs to ever exist is what I aspire to be. I intend to achieve this by working hard and with the help of the All-Powerful God. God, please assist me!
        </p>
      </div>
      <div class="profile">
        <h1>Main</h1>
        <ul>
          <li><a href="/">Home </a></li>
          <li><a href="/about">About Us </a></li>
          <li><a href="/contact">Contact Us </a></li>
          <li><a href="/event">Events </a></li>
        </ul>
      </div>
 
      <div class="port">
        <h1>PORTFOLIO</h1>
        <ul>
          <li><a href="event.html">Lagos </a></li>
          <li><a href="event.html">Abuja </a></li>
          <li><a href="event.html">Akure </a></li>
          <li><a href="event.html">Ibadan </a></li>
        </ul>
      </div>
 
    </div>
   <hr />
   copyright &copy; dhammycool 2024. All right reserved.
 </footer>