<%- include("header.ejs") %>

<div id="log">
    <h1>Kindly login to book an Event...</h1>
    <form action="/login" method="post">
    <input type="email" name="username" placeholder="Email"></input>
    <input type="password" name="password" placeholder="password"></input>
    <button>submit</button>
    </form>
</div>


<%- include("footer.ejs") %>
<script src="main.js" charset="utf-8"></script>
</body>
</html>